<html>
  <head>
    <meta charset="utf-8">
    <title>Films</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-light "style="background-color: #009879;">
      <a class="navbar-brand" href="/movies">List of Movies</a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Movies</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/movies">Movies List</a>
            <a class="dropdown-item" href="/addmovies">Add movies</a>
          </div>
        </li>
    
      </ul>
     
    </nav>
    
  </body>
</html>
