<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container forget-password">
            <div class="row">
                <div class="col-md-12 col-md-offset-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center">
                                <img src="https://freepikpsd.com/file/2019/10/doctor-plus-logo-png-6-Transparent-Images.png" alt="car-key" border="0">
                                <h2 class="text-center">Movies</h2>
                                <form >
                                    
                                    <div class="form-group">
                                        <div class="input-group">
                                            NomFilms<input type="text"[(ngModel)]= "newFilms.nomFilms"name="nomFilms" class="form-control" placeholder="NomFilms">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            GenreFilms<input type="text" [(ngModel)]= "newFilms.GenreFilms"name="GenreFilms" class="form-control"placeholder="GenreFilms">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            RateFilms<input type="number" [(ngModel)]= "newFilms.RateFilms"name="RateFilms" class="form-control"placeholder="RateFilms">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            DateFilms<input type="date" [(ngModel)]= "newFilms.dateCreation"name="dateCreation" class="form-control"placeholder="DateFilms">
                                        </div>
                                    </div>
                                    <div class="mt-2">
                                        <button type="submit" (click)="addFilms()"class="btn btn-success" routerLink="/movies">Ajouter</button>
                                        </div>
                                </form></div></div></div></div></div></div>